@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --grey: #e5e5e5;
  --dark-grey: #3333;
  --firm: #9873ff;
  --red: rgba(240, 106, 77, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--grey);
}
h1 {
  font-size: 24px !important;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 18px !important;
  }
}

h2 {
  font-size: 18px !important;
}

p {
  font-size: 14px;
}

main {
  margin: 0 auto;
  max-width: 1024px;
}

.link {
  text-decoration: none;
  color: black;
}

.error {
  margin-top: 8px;
  color: var(--red);
  font-size: 10px;
  text-align: center;
}

.like-link {
  border: 0;
  font-size: 12px;
  background-color: transparent;
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.link:visited {
  color: black;
}

.change {
  background-image: url(../images/icons/edit.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
}

.delete {
  text-decoration: none;
  background-image: url(../images/icons/del.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  margin-top: 10px;
}

.icon span {
  display: none;
  position: absolute;
  color: white;
  background-color: black;
  padding: 7px 14px;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -11px);
  font-weight: 700;
  font-size: 12px;
}

.icon span::after {
  content: ' ';
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: black;
  position: absolute;
  bottom: -3px;
  left: calc(50% - 5.5px);
  transform: rotate(45deg);
}
.icon:hover span {
  display: inline-block;
}

.vk {
  background-image: url(../images/icons/vk.svg);
}

.fb {
  background-image: url(../images/icons/fb.svg);
}

.phone {
  background-image: url(../images/icons/phone.svg);
}

.mail {
  background-image: url(../images/icons/email.svg);
}

.extraPhone {
  background-image: url(../images/icons/person.svg);
}

.text-center {
  text-align: center;
}

.persons {
  padding: 0 20px;
}

.persons__list {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  background-color: white;
  margin: 0 0 40px 0;
  width: fit-content;
}

.persons__item {
  display: grid;
  grid-template-columns:
    1fr 2.1fr minmax(111px, 1fr) minmax(111px, 1fr) minmax(108px, 108px)
    minmax(132px, 2fr);
  align-items: center;
  column-gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #c8c5d1;
}

@media screen and (max-width: 850px) {
  .persons__item {
    grid-template-columns: minmax(80px, 82px) minmax(185px, 200px) minmax(
        80px,
        82px
      ) minmax(80px, 82px) minmax(80px, 82px) 1fr;
    column-gap: 20px;
  }
}

.persons__filters {
  border-bottom: none;
  color: #b0b0b0;
  font-size: 12px;
  padding: 8px 20px;
  align-items: end;
}

.firm {
  color: var(--firm);
}

.persons__filter {
  cursor: pointer;
}

.persons__filter span:first-child {
  padding-right: 15px;
  background-image: url(../images/icons/arrow_upward.svg);

  background-repeat: no-repeat;
  background-position: center right;
}

.persons__filtered {
  color: var(--firm);
}

.persons__filtered.persons__descending span:first-child {
  background-image: url(../images/icons/arrow_downward.svg);
}

.persons__actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.persons__actions a {
  margin: 5px 0;
}

.persons__created,
.persons__last-change {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gray-text {
  color: rgba(176, 176, 176, 1);
}

.persons__id {
  font-size: 12px;
  color: rgba(176, 176, 176, 1);
}

.persons__input {
  font-size: 14px;
  color: #333333;
  min-width: 100%;
  padding: 2px 0 4px 0;
  border: none;
  border-bottom: 1px solid #c8c5d1;
}

.persons__button {
  padding: 12.5px 35px;
  border-radius: 0;
  font-size: 14px;
  border: 0;
  color: white;
  background-color: var(--firm);
}

.persons__button_add-client {
  border: 1px solid var(--firm);
  color: var(--firm);
  background-color: transparent;
}

.persons__button_add-client span {
  font-weight: 600;
  padding-left: 30px;
  background-image: url(../images/icons/add.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.persons__button_add-contact {
  padding: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  font-weight: 600;
}

.persons__button_add-contact span {
  background-image: url(../images/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.persons__input:active,
:hover,
:focus {
  outline: none;
}

.persons__label span {
  font-size: 10px;
  color: #b0b0b0;
}

.persons__label_requried span::after {
  content: ' *';
  color: #9873ff;
}

.persons__addition {
  max-width: 450px;
}

.persons__addition .persons__input {
  margin-bottom: 15px;
}

.persons__wrap {
  padding: 30px;
}

.persons__wrap header {
  display: flex;
  align-items: center;
}

.persons__wrap header span {
  color: var(--dark-grey);
  margin-left: 9px;
  font-size: 12px;
}

.persons__delete-client {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.persons__contacts {
  padding: 7.5px 30px;
  background-color: rgba(200, 197, 209, 0.3);
}

.persons__contact {
  display: flex;
  border: 1px solid rgba(200, 197, 209, 1);
  margin-bottom: 15px;
}

.persons__social {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
}

.persons__other {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 8px;
  border: 1px solid var(--firm);
  border-radius: 50%;
  cursor: pointer;
}

.persons__dropdown {
  font-size: 12px;
}

.persons__dropdown:hover .persons__options {
  display: inline-block;
}
.persons__dropdown:hover .persons__toggle {
  background-image: url(../images/icons/arrow_top.svg);
}

.persons__selection {
  position: relative;
  background-color: rgba(244, 243, 246, 1);
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-width: 110px;
  align-items: center;
  padding-left: 12px;
  border-right: 1px solid rgba(200, 197, 209, 1);
  background-color: rgba(231, 229, 235, 1);
}

.persons__contact input {
  width: 100%;
  padding: 8px 11px;
  border: 0;
}

.persons__toggle {
  border: 0;
  padding: 0 15px;
  align-self: stretch;
  background-color: transparent;
  background-image: url(../images/icons/arrow_bottom.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.persons__toggle_expand {
  background-image: url(../images/icons/arrow_top.svg);
}

.persons__options {
  background-color: rgba(244, 243, 246, 1);
  display: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 35px;
  border-left: 1px solid rgba(200, 197, 209, 1);
  border-bottom: 1px solid rgba(200, 197, 209, 1);
  border-right: 1px solid rgba(200, 197, 209, 1);
  z-index: 100;
  padding: 5px 0;
}

.persons__options_active {
  display: inline-block;
}

.persons__option {
  /* margin-bottom: 9px; */
  padding: 5px 10px;
}

.persons__del {
  width: 27px;
  border-left: 1px solid #c8c5d1;
  background: url(../images/icons/cancel_grey.svg) no-repeat center center;
  cursor: pointer;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  position: relative;
  border-radius: 0;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  /* overflow-y: scroll; */
}

.modal__cancel {
  position: absolute;
  width: 29px;
  height: 29px;
  right: 10px;
  top: 10px;
  background-image: url(../images/icons/cancel.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal__content.active {
  transform: scale(1);
}

.search {
  display: flex;
  align-items: center;
  padding: 20px;
  /* height: 90px; */
  background-color: white;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.search__logo {
}
.search__link {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background: url(../images/icons/logo.svg) no-repeat center center;
}

.search__input {
  padding: 10px;
  border: 1px solid var(--dark-grey);
  margin-left: 53px;
  width: 100%;
  max-width: 581px;
}

@media screen and (max-width: 768px) {
  .search {
    display: flex;
    justify-content: center;
  }
  .search__input {
    display: none;
  }
  .search__link {
    width: 24px;
    height: 24px;
  }
  .persons {
    overflow-x: scroll;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--firm);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--firm) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
